cfscrape
google_api_python_client
google_auth_oauthlib
Pillow
protobuf
psutil
psycopg2
psycopg2_binary
Pyrogram
python-dotenv
python_magic
python_telegram_bot
requests
telegraph
TgCrypto
tenacity
urllib3
wget
lxml
cloudscraper
bs4
playwright